body {
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    padding: 2rem 2rem;
}

.container {
    background-color: #19192C;
    border-radius: 10px;
    width: 700px;
    height: 500px;
    padding: 2rem;
    display:  block;
    position: absolute;
    
}

.img {
    border: 1px solid #474F66;
    width: 180px;
    height: 230px;
    position: absolute;
    margin-top: 1.25rem;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #4484BF;
}

.img:hover {
    cursor: pointer;
    color: white;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
}

form {
    margin-left: 13rem;
    position: absolute;
    font-size: 0.7rem;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

.personal-info {
    display: flex;
    position: relative;
}

.lname {
    margin-left: 1.5rem;
}

input, select {
    margin-bottom: 1.3rem;
    border-radius: 5px;
    padding: 0.7rem;
    margin-right: 0;
    border: 1px solid #474F66;
    background-color: transparent;
    color: white;
}

.location input {
    margin-left: 1.5rem;
}

.location select {
    width: 190.08px;
    background-color: #19192C;
}

#company, #occupation {
    width: 379px;
}

.buttons {
    position: relative;
    justify-content: end;
    flex-direction: row;
    display: flex;
    padding-top: 1.5rem;
}

button {
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #151520;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #151520;
    transform: scaleY(1.1) scaleX(1.1);
}

